<sly data-sly-use.model="com.company.core.core.models.StatsModel"/>
<sly data-sly-use.style="com.adobe.cq.wcm.style.ComponentStyleInfo"/>

<section data-sly-test="${!model.empty}" class="cmp-stats ${style.cssClasses}" data-animate-on-scroll>
    <div class="cmp-stats__grid">
        <div data-sly-list.item="${model.items}" class="cmp-stats__item">
            <div class="cmp-stats__content">
                <span class="cmp-stats__num">${item.number}</span>
                <span class="cmp-stats__label">${item.label}</span>
            </div>
        </div>
    </div>
</section>

<sly
        data-sly-test="${model.empty}"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-call="${template.placeholder @ isEmpty=true}"/>
