<a class="cmp-logo" href="/content/company/us/en/home.html" aria-label="forgefit home">
    <svg class="cmp-logo__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 92" role="img" aria-label="forgefit">
        <g fill="#f2681c" transform="translate(-70,-4) scale(0.46)">
            <path d="M260 40 c 18 34 22 56 6 82 c 16 -8 22 -28 18 -46 c 20 26 22 60 -4 82 c 8 -14 6 -30 -4 -40 c 2 22 -12 34 -16 34 c -4 0 -18 -12 -16 -34 c -10 10 -12 26 -4 40 c -26 -22 -24 -56 -4 -82 c -4 18 2 38 18 46 c -16 -26 -12 -48 6 -82 z"/>
            <path d="M214 96 c 10 20 8 40 -6 56 c 20 -6 30 -26 26 -48 c -4 26 -20 40 -34 42 c -16 -18 -12 -40 14 -50 z"/>
            <path d="M306 96 c -10 20 -8 40 6 56 c -20 -6 -30 -26 -26 -48 c 4 26 20 40 34 42 c 16 -18 12 -40 -14 -50 z"/>
        </g>
        <text x="86" y="62" font-family="'Trebuchet MS', 'Segoe UI', Arial, sans-serif" font-size="54" font-weight="800" letter-spacing="-1.5" fill="#146c6b">forge<tspan font-weight="400" fill="#1a7f7d">fit</tspan></text>
    </svg>
</a>
